<% include header%>
	<div class="header">
		<!-- 页面标题 -->
		<h1 class="page-header">添加管理员</h1>
		<!-- 路径导航 -->
		<ol class="breadcrumb">
			<li>
				<a href="#">系统管理</a>
			</li>
			<li class="active">添加管理员</li>
		</ol> 
		<!-- 路径导航 end -->
	</div>
	
	<!-- 主体部分 -->
	<div id="page-inner">
		<div class="dashboard-cards">
			<div class="row">
				<div class="col-md-3 col-sm-2 col-xs-0"></div>
				<div class="col-md-6 col-sm-8 col-xs-12">
					<form class="formAdd" action="/admin/adminInsert" method="post">
						<div class="input-group">
						  <span class="input-group-addon">用户账号</span>
						  <input type="text" class="form-control" name="name">
						</div>

						<div class="input-group">
						  <span class="input-group-addon">用户密码</span>
						  <input type="password" class="form-control" name="password">
						</div>

						<div class="input-group">
						  <span class="input-group-addon">重复密码</span>
						  <input type="password" class="form-control" name="repassword">
						</div>

						<div class="input-group">
						  <span class="input-group-addon">用户介绍</span>
						  <input type="text" class="form-control" name="info">
						</div>
			
						<div class="input-group">
						  <span class="input-group-addon">手机号码</span>
						  <input type="text" class="form-control" name="tel">
						</div>

						<div class="input-group">
						  	<span class="input-group-addon"> 验 &nbsp;证&nbsp; 码 </span>
							<input class="form-control" type="text"  name="code">
							<span class="input-group-addon" id="basic-addon2">
								<a href="/admin/adminAdd"><img  src="/admin/code"></a>
							</span>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="input-group">
									<input type="submit" value="提交" class="btn btn-primary center-block">
								</div>
							</div>
						</div>
						
					</form>
				</div>
				<div class="col-md-3 col-sm-2 col-xs-0"></div>
			</div>
		</div>
	</div>
	<!-- 主体部分 end -->
<% include footer%>
