</div>
    </div>
    <!-- jQuery Js -->
    <script src="/assets/js/jquery-1.10.2.js"></script>
	<!-- Bootstrap Js -->
    <script src="/assets/js/bootstrap.min.js"></script>
	<script src="/assets/materialize/js/materialize.min.js"></script>
    <!-- left Menu Js -->
    <script src="/assets/js/jquery.metisMenu.js"></script>
    <!-- Custom Js -->
    <script src="/assets/js/custom-scripts.js"></script> 
</body>
</html>