<% include header %>

	<div class="header">
		<!-- 页面标题 -->
		<h1 class="page-header">栏目管理</h1>
		<!-- 路径导航 -->
		<ol class="breadcrumb">
			<li>
				<a href="#">栏目管理</a>
			</li>
			<li class="active">添加栏目</li>
		</ol> 
		<!-- 路径导航 end -->
	</div>
		
	<div id="page-inner">
		<div class="dashboard-cards">
			<div class="row">
				<form class="itemAdd" action="/admin/itemInsert" method="post">
					<div class="row">
						<div class="input-field col s12">
							<input id="last_name" type="text" class="validate" name="order">
							<label for="last_name">栏目序号</label>
						</div>
					</div>
					<!-- <div class="row">
						<div class="input-field col s12">
							<input id="last_name" type="text" class="validate" name="type">
							<label for="last_name">栏目类型</label>
						</div>
					</div> -->
					<div class="row">
						<div class="input-field col s12">
							<input id="password" type="text" class="validate" name="name">
							<label for="password">栏目名称</label>
						</div>
					</div>
					<div class="row">
						<div class="input-field col s12">
							<textarea id="textarea1" class="materialize-textarea" name="info"></textarea>
							<label for="textarea1">栏目介绍</label>
						</div>
					</div>
					<div class="row">
						<div class="col s5"></div>	
						<div class="input-field col s2">
							<button class="btn waves-effect waves-light btn-group-justified" type="submit" name="action">提交
								<i class="material-icons right">send</i>
							</button>
						</div>
						<div class="col s5"></div>
					</div>
				</form>
			</div>
		</div>
	</div>
<% include footer %>