<!-- 公共头部 -->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>书画网</title>
<link href="/css/css.css" rel="stylesheet" type="text/css" />
<script src="/js/jquery.js"></script>
<script src="/js/html.js"></script>
</head>
<body>
<!--头部-->
<div id="header">
	<div class="top">
		<div class="nav">
			<a href="/" class="hover">网站首页</a>
			<% items.forEach(function(val){ %>
				<a href="/item/<%=val._id%>"><%=val.name%></a>
			<% })%>
		</div>
	</div>
</div>